server:
  port: 8081

spring:
  application:
    name: microstack-users-service

  datasource:
    url: jdbc:postgresql://localhost:5432/microstack_users
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update   # cria e atualiza tabelas automaticamente (bom para desenvolvimento)
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: true

logging:
  level:
    org.springframework: INFO
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

